head, body {
    font-family: 'Lora', serif !important;
    min-width: 500px !important;
}
#about, #contact {
    min-height: 500px;
}
[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f139";
}
#notyet {
    min-height: 25px;
}
.besar {
    font-size: 19pt;
}
.jumbotron {
    background-image: url(../img/bg-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    overflow: hidden;
}
.jumbotron img {
    width: 20%;
    border: 5px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 10px rgba(92, 10, 10, 0.8);
}
.jumbotron h1, .jumbotron p {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.8);
}
.base.Show {
    opacity: 1;
    transform: rotate3d();
    transition: 3s;
}
.pKiri {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 3s;
}
.pKanan {
    opacity: 0;
    transform: translate(50px, 0) rotate(-15deg);
    transition: 3s
}
.pKiri.pShow, .pKanan.pShow {
    opacity: 1;
    transform: translate(0, 0);
}
.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 3s;
}
.portfolio .thumbnail.show{
    opacity: 1;
    transform: translate(0, 0);
}
.grey {
    color: #999;;
}
.gold {
    color: #EDBB00;
}
.black {
    color: black;
}
.blue {
    color: #004D98;
}
.bg-blue {
    background-color: #00ACED !important;
}
.bg-gold {
    background-color: #EDBB00 !important;
}
.bg-grey {
    background-color: #333333;
}
a, a:hover {
    color: black;
    text-decoration: none !important;
}

.navbar-nav {
    z-index: 10;
}

.navbar .dropdown   {
    z-index: 11;

}

 .navbar .dropdown-menu {
   border:none;
   background-color:#00ACED !important;
 }

 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 400px) {

 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s;
 }
 .dropdown-item:hover    {
    background-color: rgb(117, 177, 199) !important;
 }

   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
   }

 }
 #invoice{
    padding: 30px;
}



.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #3989c6
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #3989c6
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #3989c6
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@media print {
    @page { margin: 0; }
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
    .foot {
        display: none;
    }
}

.batasdisplay   {
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
