.neon a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    /* text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none; */
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }
.neon a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1.5s;
  }
.neon a span{
    position: absolute;
    display: block;
  }
.neon a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#EDBB00);
  }
.neon a:hover span:nth-child(1) {
    left: 100%;
    transition: 1.5s;
  }
.neon a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#004D98);
  }
.neon a:hover span:nth-child(3) {
    right: 100%;
    transition: 1.5s;
    transition-delay: 0.75s;
  }
.neon a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
  }
.neon a:hover span:nth-child(2) {
    top: 100%;
    transition: 1.5s;
    transition-delay: 0.375s;
  }
.neon a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#21f367);
  }
.neon a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1.5s;
    transition-delay: 1.125s;
  }

/* prodlist */
.prodlist {
    /* background-color: tomato; */
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.prodlist .card {
    border-radius: 44px;
    width: 270px;
    color: #333;
    position: relative;
    background: #424242;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
        0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
}
.prodlist .card-body {
    padding: 0px;
}
.prodlist .card img {
    /* width: 270px; */
}


/* color content */
.content {
    max-width:1334px;
}
body .home{
    background-color: #45378E;
}
body .atas {
    background-color: #ffde22;
}
    body .atas h1 {
        color: #ffffff;
    }
    body .atas span {
        color: #ffffff;
    }
    body .atas p {
        color: #ffffff;
    }
body .tengah {
    background-color: #e1b382;
}
    body .tengah h1 {
        color: black;
    }
    body .tengah span {
        color: rgb(46, 40, 40);
    }
    body .tengah p {
        color: rgb(51, 50, 50);
    }
body .bawah {
    background-color: #2d545e;
}
    body .bawah h1 {
        color: white;
    }
    body .bawah span {
        color: white;
    }
    body .bawah p {
        color: white;
    }


/* cardhovereffect */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    min-height: 100vh;
} */
.cardhovereffect    {
    position: relative;
    min-height: 100vh;
    /* width: 1700px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 20px; */
    /* background-color: sandybrown; */
}
.cardhovereffect .content .card    {
    position: relative;
    /* max-width: 800px; */
    height: 250px;
    background: #FF7B3C;
    display: flex;
    width: 45%;
    margin: 30px 0;
    border: none;
}
.cardhovereffect .content .card .imgBx {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #FE4B0E;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     transition: 0.5s easy-in-out;
}
.cardhovereffect .content .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    /* background: #ff0057; */
}
.cardhovereffect .content .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700 ;
}
.cardhovereffect .content .card .imgBx img {
    width: 234px;
    height: 234px;
    /* max-width: 100px; */
    transition: 0.5s ease-in-out;
}
.cardhovereffect .content .card:hover .imgBx img {
    width: 150px ;
    height: 150px ;
    /* max-width: 75px;; */
}
.cardhovereffect .content .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.cardhovereffect .content .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}
.cardhovereffect .content .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
}
@media (max-width:992px)    {
    .cardhovereffect .content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .cardhovereffect .content .card    {
        width: 400px;
    }
}
/* @media (max-width:768px)    {
    .cardhovereffect .content .card    {
        max-width: 432px;
        flex-direction: column;
        height: auto;
    }
    .cardhovereffect .content .card .imgBx    {
        position: relative;
    }
    .cardhovereffect .content .card .imgBx,
    .cardhovereffect .content .card:hover .imgBx    {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .cardhovereffect .content .card .imgBx img,
    .cardhovereffect .content .card:hover .imgBx img    {
        max-width: 234px;
    }
    .cardhovereffect .content .card .content   {
        position: relative;
        width: 100%;
    }
} */

/* popup */

.popup .container  {
    position: relative;
    /* width: 1000px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.popup .container .card    {
    position: relative;
    width: 320px;
    height: 450px;
    background: #ffffff;
    border-radius: 44px;
    display: 20px;
    overflow: hidden;
    margin: 30px 0;
}
.popup .container .card:before     {
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.popup .container .card:hover:before    {
    clip-path: circle(300px at 80% -20%);
}
.popup .container .card:after    {
    content: attr(data-text);
    position: absolute;
    top: 12%;
    left: -4%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 0, 0, 0.44);
}
.popup .container .card .imgBx {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 11;
     width: 100%;
     height: 250px;
     transition: 0.5s;
}
.popup .container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-50%);
}
.popup .container .card .imgBx img {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}
.popup .container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.popup .container .card:hover .contentBx {
    height: 210px;
}
.popup .container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
.popup .container .card .contentBx .size,
.popup .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.popup .container .card:hover .contentBx .size   {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.popup .container .card:hover .contentBx .color   {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.popup .container .card .contentBx .size h3,
.popup .container .card .contentBx .color h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.popup .container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: rgb(184, 70, 70);
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}
.popup .container .card .contentBx .size span:hover {
    background: #9bdc28;
}
.popup .container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.popup .container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}
.popup .container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}
.popup .container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}
/* .popup .container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(134, 65, 65);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.popup .container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.75s;
} */
