body {
    /* margin: 0px; */
    /* width: 1345px;
    height: 1000px; */
    /* background-color: #111; */
}
.secvideo section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.secvideo section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.secvideo section h2 {
    position: relative;
    color: white;
    font-size: 3em;
}
.secvideo section p {
    position: relative;
    color: white;
    font-size: 1.2em;
}

















/* *   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    min-height: 100vh;
}
.popup .container  {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.popup .container .card    {
    position: relative;
    width: 320px;
    height: 450px;
    background: #ffffff;
    border-radius: 20px;
    display: 20px;
    overflow: hidden;
    margin: 30px 0;
}
.popup .container .card:before     {
    content: ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.popup .container .card:hover:before    {
    clip-path: circle(300px at 80% -20%);
}
.popup .container .card:after    {
    content: 'Amptron';
    position: absolute;
    top: 55%;
    left: -0%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 0, 0, 0.44);
}
.popup .container .card .imgBx {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 10000;
     width: 100%;
     height: 220px;
     transition: 0.5s;
}
.popup .container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-50%);
}
.popup .container .card .imgBx img {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}
.popup .container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.popup .container .card:hover .contentBx {
    height: 210px;
}
.popup .container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}
.popup .container .card .contentBx .size,
.popup .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.popup .container .card:hover .contentBx .size   {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.popup .container .card:hover .contentBx .color   {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.popup .container .card .contentBx .size h3,
.popup .container .card .contentBx .color h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.popup .container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: rgb(184, 70, 70);
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}
.popup .container .card .contentBx .size span:hover {
    background: #9bdc28;
}
.popup .container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.popup .container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}
.popup .container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}
.popup .container .card .contentBx .color span:nth-child(4) {
    background: #e91e63;
}
.popup .container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(134, 65, 65);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.popup .container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.75s;
} */
